<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-md-10">
    <h2><%= @section %></h2>
    <ol class="breadcrumb">
      <li><a href="/company">Company</a></li>
      <li><a href="/company/payments" class="active">Payments</a></li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-6">
      
    </div>
    <div class="col-md-3">
      <div class="widget lazur-bg no-padding">
        <div class="row">
          <div class="col-md-6">
            <i class="fa fa-money fa-5x p-m"></i>
          </div>
          <div class="col-md-6">
            <h1><%= @today %></h1>
            <h4>Transactions paid</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="widget yellow-bg no-padding">
        <div class="row">
          <div class="col-md-6">
            <i class="fa fa-exclamation-triangle fa-5x p-m"></i>
          </div>
          <div class="col-md-6">
            <h1><%= @pending %></h1>
            <h4>Transactions unpaid</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#list">List</a>
            </li>
            <li class="">
              <a data-toggle="tab" href="#search1">Search by Range</a>
            </li>
            <li class="">
              <a data-toggle="tab" href="#search2">Search by ID</a>
            </li>
          </ul>
        </div>
        <div class="ibox-content">
          <div class="tab-content">
            <div id="list" class="tab-pane active">
              <table class="table table-stripped">
                <thead>
                <th>Payment ID</th>
                <th>Issued</th>
                <th>Job Name</th>
                <th>Price</th>
                <th>Payment Status</th>
                <th>Job Status</th>
                <th>More</th>
                </thead>
                <tbody>
                	<% @payments.each do |pay| %>
                		<tr>
                			<td><%= pay.payment_hash_id %></td>
                			<td class="time"><%= pay.created_at.to_date %></td>
                			<td><%= pay.job_name %></td>
                			<td class="price"><%= pay.payment_price %></td>
                            <% if pay.payment_status == "paid" %>
                              <td><span class="label label-primary">Paid</span></td>
                            <% else %>
                              <td><span class="label label-warning">Unpaid</span></td>
                            <% end %>
                          <% if pay.flag == "deleted" %>
                              <td><span class="label label-warning">Deleted</span></td>
                          <% else %>
                              <td><span class="label label-primary">Active</span></td>
                          <% end %>
                          <td>
                            <div class="dropdown">
                              <button class="btn btn-white btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Action
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="/company/payments/<%= pay.payment_hash_id %>">Details</a></li>
                                <li class=""><a href="/company/payments/<%= pay.payment_hash_id %>/pay">Pay</a></li>
                                <li><a href="/company/payments/<%= pay.payment_hash_id %>/revoke">Revoke</a></li>
                              </ul>
                            </div>
                          </td>
                		</tr>
                	<% end %>		
                </tbody>
              </table>
            </div>
            <div id="search1" class="tab-pane">
                <div class="row">
                  <form class="form form-horizontal">
                    <div class="form-group">
                      <label class="col-md-1 control-label">From</label>
                      <div class="col-md-4">
                        <input type="text" placeholder="from date" id="filter-from" class="form-control datepicker">
                      </div>
                      <label class="col-md-1 control-label">To</label>
                      <div class="col-md-4">
                        <input type="text" placeholder="to date" id="filter-to" class="form-control datepicker">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-1 control-label">Status</label>
                      <div class="col-md-4">
                        <select class="form-control" id="filter-status">
                          <option value="all">All</option>
                          <option value="paid">Paid</option>
                          <option value="unpaid">Unpaid</option>
                        </select>
                      </div>
                      <a class="btn btn-primary col-md-1 col-md-offset-1" onclick="findPayByFilter()">Search</a>
                    </div>
                  </form>
                </div>
                <div class="row">
                  <table class="table table-stripped">
                    <thead>
                    <th>Payment ID</th>
                    <th>Issued</th>
                    <th>Job Name</th>
                    <th>Issuer</th>
                    <th>Price</th>
                    <th>More</th>
                    </thead>
                    <tbody id="idresult2">

                    </tbody>
                  </table>
                </div>
            </div>
            <div id="search2" class="tab-pane">
              <div class="row">
                <form class="form form-horizontal">
                  <div class="form-group">
                    <label class="control-label col-md-1">Payment ID</label>
                    <div class="col-md-4">
                      <input class="form-control" id="payid">
                    </div>
                    <a class="btn btn-primary col-md-1" onclick="findPayById()">Search</a>
                  </div>
                </form>
              </div>
              <div class="row">
                <table class="table table-stripped">
                  <thead>
                  <th>Payment ID</th>
                  <th>Issued</th>
                  <th>Job Name</th>
                  <th>Issuer</th>
                  <th>Price</th>
                  <th>More</th>
                  </thead>
                  <tbody id="idresult">

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :css do %>
    <link rel="stylesheet" type="text/css" href="/datepicker/css/bootstrap-datepicker3.min.css">
    <style>
        .datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
            color: #fff;
            background-color: #1ab394;
            border-color: #1ab394;
        }
    </style>
<% end %>

<% content_for :js do %>
    <script src="/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/numeral/numeral.js"></script>
    <script type="text/javascript">
        $('.datepicker').datepicker({});
        $('.time').each(function(){
            var Tformat = moment($(this).text()).format('LL');
            $(this).text(Tformat);
        });
        $('.price').each(function(){
            var Pformat = numeral($(this).text()).format('0,0');
            $(this).text('Rp '+Pformat);
        });


        function findPayById(){
            var ids = $('#payid').val();
            $.ajax({
                url: "/ajax/payment/id/"+ids,
                type:'GET',
                dataType: 'json',
                success : function(output_string){
                    console.log(output_string);
                    $('#idresult').html(output_string);
                    $('.time').each(function(){
                        var Tformat = moment($(this).text()).format('LL');
                        $(this).text(Tformat);
                    });
                    $('.price').each(function(){
                        var Pformat = numeral($(this).text()).format('0,0');
                        $(this).text('Rp '+Pformat);
                    });
                },
                error : function(err){
                    console.log('error');
                    console.log(err.responseText);
                }
            });
        }

        function findPayByFilter(){
            $.ajax({
                url: "/ajax/payment/filter/company",
                type: "POST",
                data: {
                    start: $('#filter-from').val(),
                    to: $('#filter-to').val(),
                    status: $('#filter-status').val()
                },
                success : function(output_string){
                    console.log(output_string);
                    $('#idresult2').html(output_string);
                    $('.time').each(function(){
                        var Tformat = moment($(this).text()).format('LL');
                        $(this).text(Tformat);
                    });
                    $('.price').each(function(){
                        var Pformat = numeral($(this).text()).format('0,0');
                        $(this).text('Rp '+Pformat);
                    });
                },
                error : function(err){
                    console.log('error');
                    console.log(err.responseText);
                }
            })
        }
    </script>
<% end %>