<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-10">
		<h2><%= @section %></h2>
		<ol class="breadcrumb">
			<li><a href="/admin">Admin</a></li>
			<li><a href="/admin/jobs" class="active">Jobs</a></li>
		</ol>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-md-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">Jobs</div>
				<div class="ibox-content">
					<table class="table table-stripped">
						<thead>
							<th>Job Name</th>
							<th>Issuer</th>
							<th>Start</th>
							<th>Valid Until</th>
							<th>More</th>
						</thead>
                        <tbody>
                            <% @alljobs.each do |ujob| %>
                                <% ujob.jobs.each do |jb| %>
                                    <tr>
                                      <td><%= jb.job_name %></td>
                                      <td><%= ujob.user_name %></td>
                                      <td class="time"><%= jb.job_start.to_date %></td>
                                      <td class="time"><%= jb.job_valid.to_date %></td>
                                      <td>
                                        <div class="dropdown">
                                          <button class="btn btn-white btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Action
                                            <span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a href="/admin/jobs/<%= jb.job_hash_id %>">Details</a></li>
                                                <% if jb.payment.payment_status == 'unpaid' %>
                                                    <li class=""><a href="/admin/jobs/edit/<%= jb.job_hash_id %>">Edit</a></li>
                                                    <li><a onclick="warnDelete('/admin/jobs/delete/<%= jb.job_hash_id %>')">Delete</a></li>
                                                <% else %>
                                                    <li class="disabled"><a href="#">Edit</a></li>
                                                    <li class="disabled"><a href="#">Delete</a></li>
                                                <% end %>
                                          </ul>
                                        </div>
                                      </td>
                                    </tr>
                                <% end %>
                            <% end %>
                        </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :js do %>
    <script src="/bower_components/moment/moment.js"></script>
    <script type="text/javascript">
      $('.time').each(function(){
          var Tformat = moment($(this).text()).format('LL');
          $(this).text(Tformat);
      });


      toastr.options = {
          "closeButton": true,
          "debug": true,
          "progressBar": false,
          "positionClass": "toast-top-right",
          "onclick": null,
          "showDuration": "400",
          "hideDuration": "1000",
          "timeOut": "7000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
      }
      
      function warnDelete(ids){
          var choice = confirm('Are you sure want to delete Jobs with id = '+ids);

      }
    </script>
<% end %>