<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-md-10">
    <h2><%= @section %></h2>
    <ol class="breadcrumb">
      <li><a href="/basic">Basic User</a></li>
      <li><a href="/basic/profile" class="active">Profile</a></li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#basic">Basic Profile</a>
            </li>
            <li class="">
              <a data-toggle="tab" href="#details">Details</a>
            </li>
          </ul>
        </div>
        <div class="ibox-content">
          <div class="tab-content">
            <div id="basic" class="tab-pane active">
              <%= form_for(:user , url: '/basic/profile/update/' , html: { class: 'form form-horizontal'}) do |f| %>
                  <div class="form-group">
                    <label class="control-label col-md-2">User Name</label>
                    <div class="col-md-8">
                      <%= f.text_field :name , class: 'form-control' , placeholder: 'Name' , value: @current.user_name %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-2">User Email</label>
                    <div class="col-md-8">
                      <%= f.text_field :email , class: 'form-control' , placeholder: 'Email' , value: @current.user_email %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-2">User Password</label>
                    <div class="col-md-8">
                      <%= f.password_field :password , class: 'form-control' , placeholder: 'Password' , value: @current.password %>
                    </div>
                  </div>

                  <% if @current.avatar_url() %>
                      <div class="form-group crava">
                        <label class="control-label col-md-2">Avatar</label>
                        <div class="col-md-8">
                          <%= image_tag @current.avatar_url() %>
                          <a class="btn btn-primary" onclick="chava()">Change</a>
                        </div>
                      </div>
                      <div class="form-group chava">
                        <label class="control-label col-md-2">Avatar</label>
                        <div class="col-md-8">
                          <%= f.file_field :avatar , class: 'form-control'%>
                        </div>
                      </div>
                  <% else %>
                      <div class="form-group">
                        <label class="control-label col-md-2">Avatar</label>
                        <div class="col-md-8">
                          <%= f.file_field :avatar , class: 'form-control'%>
                        </div>
                      </div>
                  <% end %>
                  <div class="form-group">
                    <label class="control-label col-md-2">State</label>
                    <div class="col-md-8">
                      <select id="state-select" class="form-control" name="user[state]">
                        <option>-- select state --</option>
                        <% @states.each do |st| %>
                            <% if st.id == @current.user_state %>
                                <option value="<%= st.id %>" selected><%= st.state_name %></option>
                            <% else %>
                                <option value="<%= st.id %>"><%= st.state_name %></option>
                            <% end %>
                        <% end %>
                      </select>
                    </div>
                  </div>
                  <div class="form-group" id="citygroup">
                    <label class="control-label col-md-2">City</label>
                    <div class="col-md-8">
                      <div id="citilist">
                        <select id="" class="form-control" name="user[city]">
                          <option>-- select state --</option>
                          <% @cities.each do |ct| %>
                              <% if ct.id == @current.user_city %>
                                  <option value="<%= ct.id %>" selected><%= ct.city_name %></option>
                              <% else %>
                                  <option value="<%= ct.id %>"><%= ct.city_name %></option>
                              <% end %>
                          <% end %>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary col-md-offset-2 col-md-8">Create</button>
                  </div>
              <% end %>
            </div>
            <div id="details" class="tab-pane">
              <%= form_for(:details , url: '/basic/profile/details/update' , html: { class: 'form form-horizontal'}) do |f| %>
                <div class="form-group">
                  <label class="control-label col-md-2">Bio</label>
                  <div class="col-md-8">
                    <% if @currentDetails %>
                        <%= f.text_area :bio , class: 'form-control' , id: 'bio' , value: @currentDetails.userdetail_bio %>
                    <% else %>
                        <%= f.text_area :bio , class: 'form-control' , id: 'bio'%>
                    <% end %>
                  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Experiences</label>
                    <div class="col-md-8">
                      <div class="feed-activity-list" id="exp-list">
                        <h3>Experience History</h3>
                        <% @exps.each do |exp| %>
                            <div class="feed-element" id="exp<%= exp.id %>">
                              <div class="">
                                Worked at <strong><%= exp.instance %></strong> as <strong><%= exp.position %></strong>
                                <small class="text-muted"><span class="time"><%= exp.started.to_s.to_date %></span> - <span class="time"><%= exp.ends.to_s.to_date %></span></small>
                                <a onclick="delExp('<%= exp.id %>')" class="label label-danger"><i class="fa fa-trash"></i></a>
                              </div>
                            </div>
                        <% end %>
                      </div>
                      <br>
                      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                        Add Experience
                      </button>
                    </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label">Skill Major</label>
                  <div class="col-md-8">
                    <select class="form-control" name="details[major]">
                        <% @categories.each do |cate| %>
                            <% if @currentDetails.userdetail_major == cate.id %>
                              <option value="<%= cate.id %>" selected><%= cate.category_name %></option>
                            <% else %>
                                <option value="<%= cate.id %>"><%= cate.category_name %></option>
                            <% end %>
                        <% end %>
                    </select>
                  </div>
                </div>
                <% if !@currentDetails.curriculumvitae %>
                    <div class="form-group">
                      <label class="control-label col-md-2">Curriculum Vitae</label>
                      <div class="col-md-8">
                        <%= f.file_field :curriculumvitae , class: 'form-control'%>
                      </div>
                    </div>
                <% else %>
                      <div class="form-group" id="uploader">
                        <label class="control-label col-md-2">Curriculum Vitae</label>
                        <div class="col-md-8">
                          <%= f.file_field :curriculumvitae , class: 'form-control'%>
                        </div>
                      </div>
                      <div class="form-group" id="file-ic">
                        <label class="control-label col-md-2">Curriculum Vitae</label>
                        <div class="file-box col-md-3">
                          <div class="file">
                            <a href="<%= @currentDetails.curriculumvitae_url()%>">
                              <div class="icon">
                                <i class="fa fa-file"></i>
                              </div>
                              <div class="file-name">
                                Curriculum Vitae
                              </div>
                            </a>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <a class="btn btn-primary btn-sm" onclick="showUploader()">Change File</a>
                        </div>
                      </div>
                <% end %>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary col-md-8 col-md-offset-2">Save</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="" class="modal inmodal in" id="myModal" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <i class="fa fa-laptop modal-icon"></i>
        <h4 class="modal-title">Add Experience</h4>
        <!--<small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>-->
      </div>
      <div class="modal-body">
        <form class="form form-horizontal">
        <div class="form-group">
          <label class="control-label col-md-2">
            Instance Name
          </label>
          <div class="col-md-8">
            <input type="text" id="exp-instance" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">
            Position
          </label>
          <div class="col-md-8">
            <input type="text" id="exp-pos" class="form-control">
          </div>
        </div>
          <div class="form-group">
            <label class="control-label col-md-2">
              Start
            </label>
            <div class="col-md-3">
              <input type="text" id="exp-start" class="datepicker form-control time">
            </div>
            <label class="control-label col-md-2">
              Until
            </label>
            <div class="col-md-3">
              <input type="text" id="exp-until" class="datepicker form-control time" value="-">
            </div>
          </div>
          <p class="muted">**leave the until date if that's your current job</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <a class="btn btn-primary" onclick="submitExp()">Save changes</a>
      </div>
    </div>
  </div>
</div>

<% content_for :js do %>
    <script src="/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <script>
        $('.chava').hide();
        CKEDITOR.replace('bio');
        $('.datepicker').datepicker({});
        $('#uploader').hide();
        $('.time').each(function(){
            var Tformat = moment($(this).text()).format('LL');
            $(this).text(Tformat);
        });
        $('#state-select').on('change' , function(){
            var ids = $("#state-select").val();
            $('#citygroup').show();
            $.ajax({
                url : '/ajax/citylist/usr/'+ids,
                method : 'GET',
                dataType : 'html',
                success : function(output){
                    console.log(output);
                    $('#citilist').html(output);
                },
                error : function(err){
                    console.log('error');
                    console.log(err.responseText);
                }
            })
        });

        function chava(){
            $('.chava').show();
            $('.crava').hide();
        }

        function submitExp(){
            var instance = $('#exp-instance').val();
            var position = $('#exp-pos').val();
            var start = $('#exp-start').val();
            var until = $('#exp-until').val();

            console.log(start);
            console.log(until);

            $.ajax({
                method: "POST",
                url: "/ajax/exp/add",
                data: {
                   "exp" : {
                       "instance" : instance,
                       "position" : position,
                       "exp_start" : start,
                       "exp_end" : until,
                       "user_id": <%= @current.id %>
                    }
                },
                success: function(output){
                    console.log(output);
                    $('#myModal').modal('toggle');
                    $('#exp-list').append(output);
                }
            });
        }

        function delExp(exid){
            var choice = confirm('Are you sure ?');

            if(choice){
                $.ajax({
                   method : "GET",
                   url : "/ajax/exp/del/"+exid,
                   dataType: "json",
                   success: function(output){
                    console.log(output);
                    $('#exp'+exid).hide();
                   }
                });
            }
        }

        function showUploader(){
            $('#uploader').show();
            $('#file-ic').hide();
        }
    </script>
<% end %>

<% content_for :css do %>
    <link rel="stylesheet" type="text/css" href="/datepicker/css/bootstrap-datepicker3.min.css">
    <style>
        .datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
            color: #fff;
            background-color: #1ab394;
            border-color: #1ab394;
        }
    </style>
<% end %>
